<h2>Create a new recipe</h2>
<%= form_for @recipe do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br><br>
  <%= f.submit %>
<% end %>