<h2>Create a new recipe</h2>

<%= form_for @recipe do |f| %>

  <%= render partial: 'application/form_for_errors', locals: {obj_to_check: @recipe } %>
  
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
  </div>

  <br>

  <div>
    <p>Add your recipe's ingredients:</p>
    <%= f.fields_for :recipe_ingredients, 5.times { @recipe.recipe_ingredients.build } do |recipe_ingredients_fields| %>
      <div>
        <%= recipe_ingredients_fields.fields_for :ingredient, @recipe.ingredients.build do |ingredient_fields| %>
          <%= ingredient_fields.label "Ingredient" %>
          <%= ingredient_fields.text_field :name %>
        <% end %>
        <%= recipe_ingredients_fields.label "Quantity" %>
        <%= recipe_ingredients_fields.text_field :quantity %>
      <div>      
    <% end %>
  </div>

  <br>

  <%= f.submit %>
<% end %>