<h2>Create a new recipe</h2>
<%= form_for @recipe do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
  <%= f.label :description %>
  <%= f.text_area :description %>
  </div>

  <% if !@ingredients.empty? %>
    <div>
      <%= f.label "Select ingredients:" %>
      <%= f.collection_check_boxes :ingredient_ids, @ingredients, :id, :name %>
    </div>
  <% end %>

  <div>
    <%= f.fields_for :ingredient do |ingredient_fields| %>
      <%= ingredient_fields.label "Ingredient" %>
      <%=  ingredient_fields.text_field :name %>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>