<h6>VIEWS/RECIPES/show.html.erb</h6>

<h3><%= @recipe.title%></h3>
<p>by: <%= @recipe.user.username %></p>
<p><%= @recipe.description %></p>

<br><br><br>
<%= link_to "Create a new recipe", new_user_recipe_path(current_user) %>
<br>
<%= link_to "View all recipes", recipes_path %>
<br>
<%= link_to "Back to my profile", user_path(current_user) %>