<h2><%= @recipe.title%></h2>
<p>by: <%= link_to @recipe.user.username, user_path(@recipe.user) %></p>
<p><%= @recipe.description %></p>
<br>
<p>Ingredients:</p>
<ul>
  <% @recipe.ingredients.each do |ing| %>
    <li><%= link_to ing.name, recipe_ingredient_path(@recipe, ing) %>: 
    <% ing.recipe_ingredients.each do |i| %>
      <%= i.quantity %>
      <% end %>
    </li>
  <% end %>
</ul>
