<h2>Sign Up page</h2>
<h3>Please enter your details below to Sign Up</h3>
<%= form_for @user do |f| %>
  <%= render partial: 'application/form_for_errors', locals: {obj_to_check: @user } %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <br><br>
  <%= f.submit %>
<% end %>