<h6>VIEWS/USERS/show.html.erb</h6>

<%= @user.username%>

<% if @user.recipes != [] %>
  <h3>Your recipes:</h3>
  <% @user.recipes.each do |recipe| %>
    <h4><%= recipe.title %></h4>
    <p><%= recipe.description %></p>
    <br><br>
  <% end %>
  <br><br><br>
  <%= link_to "Create a new recipe", new_user_recipe_path(@user) %>
<% else %>
  <p>You have not created any recipes yet! Go ahead and <%= link_to "Create your first recipe", new_user_recipe_path(@user) %></p>
<% end %>

<br><br><br>

<%= link_to "View all recipes", recipes_path %>